@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit, sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-gray-50 text-gray-800
}

.active hr{
  @apply block
}

::-webkit-scrollbar{
  @apply hidden
}

@media (max-width: 740px) {
  .active p{
    @apply text-white bg-primary
  }
}